@font-face{font-family:'ast-li';src:url(../font/Assistant-Light.ttf)}
@font-face{font-family:'ast-reg';src:url(../font/Assistant-Regular.ttf)}
@font-face{font-family:'ast-semibold';src:url(../font/Assistant-SemiBold.ttf)}
body{background:#fff}
footer{background:none;}
.red{background:red}
.blue{background:blue}
.backgroud-padrao{background:#2ECC71}
.btn-padrao{background:#2ECC71;color:#fff;font-size:1em;font-family:ast-semibold}
.btn-padrao:hover{text-decoration:none;color:#fff}
.btn-padrao-inline{background:none;color:#fff;font-size:1em;font-family:ast-semibold;border-color:#fff}
.btn-padrao-inline:hover{background:#fff;color:#2ECC71;font-size:1em;font-family:ast-semibold;text-decoration:none}
.h100{height:100%}
section{min-height:40em; padding: 0 0 5em 0}
section .sub-header{margin-bottom: 5em}
section .top-default{margin-top: 5em}
section .top{margin-top: 10em}
.w100{width:100%}
.wh100{width:100%;height:100%;width:100%;height:100%}
.mleft{margin-left:.5em}
.mright{margin-right:.5em}
.mtop{margin-top:.5em}
.mtop2{margin-top: 2em}
.mbottom{margin-bottom:.5em}
.form-default{background:#fff;border:#ccc solid 1px;border-radius:5px}
.form-default .header{width:100%;height:auto;padding:1em;background:none;border-radius:2px 2px 0 0;color:#2ECC71;font-size:1.5em}
.form-default form{padding:2em}
.form-default .caixa-select-check{width: 100%; height: 20em; border: #dddddd solid 1px; padding:1em; margin-bottom: 1em; overflow-y: scroll;}
.tam05{width:5em}
.tam1{width:10em}
.tam2{width:20em}
.tam3{width:30em}
.tam4{width:40em}
.tam5{width:50em}
.tam6{width:60em}
.tam7{width:70em}
.tam8{width:80em}
.tam9{width:90em}
.tam10{width:100em}
label{font-size:1em;font-family:ast-semibold;color:#555}
header{width:100%;height:4em;background:#2ECC71}
header #titulo{height:4em}
header #titulo span{color:#fff;font-size:1.2em;font-family:'ast-semibold'}
.none{display:none}
.tabela-padrao{background:#fff;border:#ccc solid 1px;border-radius:5px}
.tabela-padrao table{width:100%}
.tabela-padrao table tr{border-collapse:collapse;border-bottom:#ccc solid 1px}
.tabela-padrao table th{padding:.5em 1em;background:#eee}
.tabela-padrao table td{width:100%;padding:.5em;background:#fff}
.tabela-padrao .table-header{background:#212529;font-family:ast-semibold;font-size:1.2em;color:#fff;text-align:center}
.cx-acordeon {margin-top: 1em; border: #dddddd solid 1px}
.cx-acordeon .cartao-header {width: 100%; background: #EEE; padding: 1em; cursor: pointer}
.cx-acordeon .cartao-header span{font-size: 1em; font-family: ast-semibold;}
.cx-acordeon .cartao-body {padding: 1em}
.cx-opcao:hover{text-decoration:none}
.bl-opcao{width:10em;height:10em;background:none;border:#2ECC71 solid 2px;border-radius:10px}
.bl-opcao:hover{background:#2ECC71;color:#fff}
.bl-opcao:hover span{color:#fff}
.bl-opcao:hover i{color:#fff}
.bl-opcao .superior,.inferior{width:100%;height:50%;color:#555;font-family:'ast-semibold';color:#2ECC71;}
.bl-opcao .superior{font-size:3em}
.form-login .header{width:100%;height:3em;color:#2ECC71;font-size:1.5em}
.form-login .link a{font-family:ast-reg;font-size:1em;color:#555}
.form-login .link a:hover{color:#555}
.form-login form{padding:2em}
.sub-header{width:100%;height:3em;background:#28B263;color:#fff;font-family:ast-reg}
.bloco-contato{width:100%;height:auto;margin-bottom:.5em;border-bottom:#2ECC71 solid 1px;padding:0 1em}
.caixa-item{width:100%;height:auto;border:#fff solid 1px;}
.caixa-item .faixa-item{width:100%;padding: 0.5em 1em; background:#2ECC71; font-size: 1em; font-family: 'ast-semibold'; color: #ffffff; cursor: pointer}